# header-token-from-env-file-778899

DB_HOST=localhost
DB_USER=root
DB_PASSWORD=PasswordWithSpecialChars!@#$%^&*()

API_KEY=abcdef1234567890abcdef1234567890

SECRET_KEY_DOUBLE_QUOTES="a_very_secret_key_in_double_quotes"
SECRET_KEY_SINGLE_QUOTES='another_secret_key_in_single_quotes'

# OLD_DB_PASSWORD=old_and_insecure_password123

DATABASE_URL="postgres://user:strong_password@db.example.com:5432/production_db"

JWT_AUTH_TOKEN="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyLCJleHAiOjE1MTYyNDI2MjJ9.4q..."

ENCODED_SECRET=dGhpcyBpcyBhIGJhc2U2NCBlbmNvZGVkIHNlY3JldA==

PRIVATE_KEY="-----BEGIN RSA PRIVATE KEY-----\nMIIEpAIBAAKCA...rest of the key...Qeo=\n-----END RSA PRIVATE KEY-----"

PASSWORD_WITH_SPACES="my secret password with spaces"

MAILER_DSN=smtp://user:password@smtp.example.com:465 # Inline comment with a hint: password is temp
